@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    box-sizing: border-box;
    font-size: 30px;
  }

  body {
    background-color: #1c4c62;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    height: 80vh;
    font-family: 'Lato', 'sans-serif';
  }

  #brand-name {
    text-align: center;
    text-justify: newspaper;
  }

  .packages-container {
    margin: 20px 0;
  }

  .packages-container select {
    background-color: #fff;
    border: 0;
    border-radius: 16px;
    font-size: 20px;
    margin-left: 10px;
    padding: 10px 20px 10px 20px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
  }
